.header {
  height: 70px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2d4271;
}

nav {
  height: 100%;
}
.headerNav {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
}
.headerNavLi {
  float: left;
  font-size: 13px;
  font-weight: 700;
  height: 100%;
  width: max-content;
  padding: 0 8px;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.5s, color 0.5s;
}
.headerNavLi:hover {
  background-color: #fff;
}
.headerNavLi > p {
  text-align: center;
  cursor: pointer;
}
.headerNavLi > hr {
  height: 2px;
  border: none;
  background-color: #2d4271;
  position: absolute;
  bottom: 4%;
  width: 0;
  transition: width 0.5s;
}
.headerNavLi:hover > hr {
  width: 80%;
}
.faCircleUser {
  font-size: 24px;
  color: #2d4271;
  cursor: pointer;
}
