@import "normalize.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #2d4271;
}
:root {
  --color: #2d4271;
}
