.table {
    padding-left: 20px;
    margin-top: 40px;
    /* border-collapse: collapse;  */
    width: 100%;
  }
  .table td {
    /* padding-left: 10px; */
    padding: 8px 0;
  }
  .table th {
    text-align: left;
  }
  /* .table tr:hover{
      background-color: rgb(237, 237, 237);
  } */
  .icons > i {
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
  .icons > i:hover{
    background-color: #4d4aef;
    color: #fff;
  }
  