/* Login begin */

/* Header */
fieldset {
  border: none;
}

/* input */
.loginInputArea {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}
.loginInputArea > p {
  font-size: 14px;
  padding-left: 5px;
}
.loginInputArea > input {
  height: 40px;
  border: 1px solid rgb(173, 173, 173);
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  font-size: 16px;
  color: #646363;
  margin-top: 4px;
  border-radius: 8px;
  width: 480px;
}
.loginInputArea > input:focus {
  border-color: #646363;
}

/* submit */
.loginSubmit {
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* login other */
.loginOther {
  margin-top: 40px;
}
.loginOther > p {
  text-align: center;
  font-size: 14px;
}
.loginOtherIcon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.loginOtherIcon > i {
  font-size: 40px;
  cursor: pointer;
  transition: color 0.5s;
}
.loginOtherIcon > i:hover {
  color: #333333;
}
.faFace {
  margin-right: 20px;
  color: rgb(59, 89, 152);
}
.faGoog {
  color: rgb(234, 67, 53);
}

/* next to register */
.loginRegister > p {
  margin-top: 50px;
  text-align: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: color 0.5s;
  color: #185a9d;
}
.loginRegister > p:hover {
  color: #3a7bd5;
}
