.heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
}
.contain {
  display: flex;
}
.contain > img {
  width: 300px;
  margin-left: 80px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.detail > p {
  font-size: 13px;
  line-height: 32px;
}
.main::before {
  content: "";
  display: block;
  width: 90%;
  margin: auto;
  height: 1px;
  background-color: #d5d5d5;
}
