.contain{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}
.contain > input{
    margin-right: 20px;
    border: 1px solid #999;
    outline: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
}