.main {
  background-color: rgb(209 213 219);
  height: 100%;
  width: 100%;
  position: relative;
}
.main > ul {
  list-style-type: none;
  padding-left: 0;
}
.main > h3 {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.main > ul > li {
  padding: 8px 40px;
  cursor: pointer;
}
.main > ul > li:hover {
  background-color: #5d5bc3;
  color: #fff;
}
.active{
  background-color: #4d4aef;
  color: #fff;
}
.main > p {
  position: absolute;
  bottom: 12px;
  text-align: center;
  cursor: pointer;
  width: 50%;
  left: 25%;
  padding: 8px;
}
.main > p:hover{
  background-color: #4d4aef;
  color: #fff;
}
