.search {
  height: 600px;
  position: relative;
  /* border-bottom: 1px solid black; */
  margin-bottom: 40px;
}
.searchPic {
  margin: auto;
  width: 100%;
  height: 80%;
  background-image: url("../../../assets/images/Quảng_trường_Hồ_Chí_Minh.jpg");
  background-repeat: no-repeat;
  background-position: 0 25%;
  border-radius: 60px 0;
  border-top: 2px solid #e7e8e9;
}
.searchChoose {
  /* height: 40%; */
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  background-color: rgb(45 66 100 / 80%);
  border-radius: 15px;
  height: max-content;
  box-shadow: 0 0 10px #616d8a;
  color: #4d4aef!important;
}
.searchChooseNav {
  list-style: none;
  color: white;
  padding-left: 0;
}
.searchChooseNavLi {
  display: inline-block;
  padding: 40px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  color: white;
}
.searchChooseNavLiChoose {
  background-color: white;
  color: #4d4aef;
}
.searchChoose > div {
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.searchChooseP {
  text-align: center;
  padding: 10px 0 20px;
  font-size: 20px;
  font-weight: 600;
}
.searchChooseContent{
  color: #2d4271!important;
  padding: 20px 0;
}
.searchChooseFilter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}
.searchChooseItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  min-width: 150px;
  border: 5px solid #ffc709;
  border-radius: 16px 0;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.searchChooseItemDay {
  min-width: unset;
}
.faRightLeft {
  cursor: pointer;
}
.searchChooseItem > i {
  margin-right: 10px;
}
.searchChooseItem span {
  font-size: 14px;
}
.searchChooseItem p {
  font-weight: bold;
  margin-top: 5px;
}
.faRightLong {
  padding: 16px 20px;
  border-radius: 8px;
  /* border: 1px solid #000; */
  color: #221f20;
  color: white;
  cursor: pointer;
  background-color: #ffc709;
  transition: background-color 0.5s, color 0.5s;
}
.faRightLong:hover {
  background-color: #d6a80f;
  color: white;
}
