@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-grow-3 {
  flex-grow: 3;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
.ml-20percen{
    margin-left: 20%;
}
.mx-4-1-percen{
  margin-left: 4.1%;
  margin-right: 4.1%;
}
.min-h-630{
  min-height: 630px;
}
.w-1div3{
  width: 30%;
}
.px-10percen{
  padding-left: 10%;
  padding-right: 10%;
}
.minw-120{
  min-width: 120px;
}
.bottom-4p{
  bottom: 4%;
}
.h-2px{
  height: 2px;
}
.calc-64{
  height: calc(100vh - 64px);
}
.bg-image{
  background-image: url(./assets/images/background.jpg);
  background-position-y: 45%;
  background-repeat: no-repeat;
}