.main{
  background: url(/frontend/src/assets/images/background.jpg);
}
.searchChooseItemDay {
  min-width: unset;
}
.faRightLeft {
  cursor: pointer;
}
.searchChooseItem > i {
  margin-right: 10px;
}
.searchChooseItem span {
  font-size: 14px;
}
.searchChooseItem p {
  font-weight: bold;
  margin-top: 5px;
}
.faRightLong {
  padding: 16px 20px;
  border-radius: 8px;
  /* border: 1px solid #000; */
  color: #221f20;
  color: white;
  cursor: pointer;
  background-color: #ffc709;
  transition: background-color 0.5s, color 0.5s;
}
.faRightLong:hover {
  background-color: #d6a80f;
  color: white;
}
