.searchChoose {
  /* bottom: -10%; */
  /* left: 10%;
  right: 10%; */
  width: 1000px;
  margin: auto;
  background-color: rgba(0, 91, 150);
  border-radius: 15px;
  height: max-content;
  box-shadow: 0 0 10px #616d8a;
}
.searchChooseNav {
  list-style: none;
  color: white;
  padding-left: 0;
}
.searchChooseNavLi {
  display: inline-block;
  padding: 40px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  color: white;
}
.searchChooseNavLiChoose {
  background-color: white;
  color: #4d4aef;
}
.searchChoose > div {
  background-color: white;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
.searchChooseP {
  text-align: center;
  padding: 10px 0 20px;
  font-size: 20px;
  font-weight: 600;
}
.searchChooseContent {
  color: #2d4271 !important;
  padding: 20px 0;
}
.searchChooseFilter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px 20px;
}
.searchChooseItem {
  padding: 5px 30px;
  min-width: 150px;
  border: 5px solid #ffc709;
  border-radius: 16px 0;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  height: 90px;
}
.searchChooseItemDay {
  min-width: unset;
}
.faRightLeft {
  cursor: pointer;
}
.searchChooseItem > i {
  margin-right: 10px;
}
.searchChooseItem span {
  font-size: 14px;
}
.searchChooseItem p {
  font-weight: bold;
  margin-top: 5px;
}
.faRightLong {
  padding: 16px 20px;
  border-radius: 8px;
  /* border: 1px solid #000; */
  color: #221f20;
  color: white;
  cursor: pointer;
  background-color: #ffc709;
  transition: background-color 0.5s, color 0.5s;
}
.faRightLong:hover {
  background-color: #d6a80f;
  color: white;
}
