.contain{
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 32px;
}
.large{
    flex: 4;
}
.large > img{
    width: 100%;
    border-radius: 4%;
    cursor: pointer;
}
.large > h1{
    cursor: pointer;
    color: #2d4271;
}
.large > h1:hover{
    color: #4d4aef;
}
.small{
    flex: 3;
    margin-left: 20px;
}
.itemsmall{
    display: flex;
}
.itemsmall > img{
    width: 200px;
    border-radius: 4%;
    cursor: pointer;
}
.itemsmall > a{
    display: block;
    flex: 1;
    margin-left: 16px;
    color: #2d4271;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.itemsmall > a:hover{
    color: #4d4aef;
}
.itemsmall + .itemsmall{
    margin-top: 20px;
}