.filterResult {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 28px;
}
.choose,
.pick {
  margin-bottom: 16px;
}
.choose,
.pick > h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
}
.input {
  border: none;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d8d8d8;
  appearance: none;
  outline: none;
}
.pickContain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pickItem {
  width: 48%;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.pickItem:hover {
  background: #4d4aef;
  color: #fff;
}
.arrivallink {
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
}
.arrivallinka {
  display: block;
  padding: 10px 20px;
  border: 1px solid #2d4271;
  border-radius: 5px;
  text-decoration: none;
  color: #2d4271;
  transition: background-color 0.5s, color 0.5s;
  font-weight: 700 !important;
}
.arrivallinka:hover {
  background-color: #27395f;
  color: white;
}
.contain {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contain > h1 {
  border-bottom: 0.5px solid #d5d5d5;
  font-size: 32px;
  text-align: center;
}
.search {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  width: 100%;
}
.saleitem {
  width: 30%;
}
.saleitem > img {
  width: 100%;
  height: 300px;
  border-radius: 12px;
}
.saleitemtimecreate {
  font-size: 13px;
}
.saleitemcontent {
  font-weight: bold;
}
.saleitemfrom > span {
  font-weight: bold;
}
.saleitem {
  width: 24%;
  height: max-content;
  margin: 8px 8px;
  /* border: 1px solid rgb(83, 82, 82); */
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.saleitem:hover {
  box-shadow: 0 0 5px black;
}
.saleitempic {
  width: 100%;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.saledescribe {
  padding: 4px 8px 8px;
  color: #2d4271;
}
.saleitemtimecreate {
  color: #2d4271;
  font-size: 14px;
}
.saleitemcontent {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0 8px;
}
.saleitemfrom {
  color: #2d4271;
}
.saleitemprice {
  color: #fd5056;
  font-weight: 600;
  float: right;
  margin-top: 12px;
}
.saleitemslot {
  float: right;
  background: #fd5056;
  border-radius: 8px 0;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 4px;
}
