.headerNavLi {
  transition: color 0.5s;
}
.headerNavLi:hover {
  background-color: #fff;
}
.headerNavLi > p {
  text-align: center;
  cursor: pointer;
}
.headerNavLi > hr {
  height: 2px;
  border: none;
  background-color: #2d4271;
  position: absolute;
  bottom: 4%;
  width: 0;
  transition: width 0.5s;
}
.headerNavLi:hover > hr {
  width: 100%;
}
