.contain{
    padding-top: 40px;
    width: 90%;
    margin: auto;
}
.contain > h3{
    font-size: 30px;
}
.gallery{
    width: 100%;
    overflow-x: hidden;
    margin-top: 12px;
}
.slide{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
    transition: 0.4s;
}
.item{
    width: 428px;
    height: 321px;
    border-radius: 12px;
}
.item + .item{
    margin-left: 21px;
}